<div class="product-card card h-100 shadow-sm border-0">
  <div class="product-image">
    <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}" />
  </div>

  <div class="card-body text-center d-flex flex-column">
    <h6 class="product-title fw-semibold mb-2">{{ product.name }}</h6>
    <p class="product-price text-success fw-bold mb-3">{{ product.price | currency:'EGP' }}</p>

    <button class="btn btn-outline-primary btn-sm mt-auto">
      <i class="bi bi-cart-plus"></i> Add to Cart
    </button>
  </div>
</div>
